<div class="container">
  <div class='row justify-content-center'>
    <div class="col-12">
      <h3>会員一覧</h3>
      <hr>
      <%= render 'admin/searches/form' %>
      <hr>

      <table class="table table-borderless", style="color: #675D50;">
        <thead>
          <tr>
            <th class="col-2">ID</th>
            <th class="col-3">会員名</th>
            <th class="col-3">メールアドレス</th>
            <th class="col-3">会員ステータス</th>
          </tr>
        </thead>
        <% @members.each do |member| %>
        <tbody>
          <tr>
            <td class="align-middle"><%= member.id %></td>
            <td class="align-middle">
              <%= link_to member.name, admin_member_path(member.id) %>
            </td>
            <td><%= member.email %></td>
            <td>
              <% if member.is_active == true %>
                <span class="text-success font-weight-bold align-middle">有効</span>
              <% else %>
                <span class="text-secondary font-weight-bold align-middle">利用停止</span>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <hr>

    <p class="pagetop float1">
      <a href="#container">
        <i class="fa-solid fa-angles-up"></i>
      </a>
    </p>

    <div class="text-center my-3">
      <%= paginate @members %>
    </div>
  </div>
</div>

  