<div class="container">
  <div class='row justify-content-center'>
    <div class="col-12">
      <h3>会員一覧</h3>
      <hr>
      <%= render 'admin/searches/form' %>
      <hr>

      <table class="table table-borderless", style="color: #675D50;">
        <thead>
          <tr>
            <th class="col-2 text-center">会員ID</th>
            <th class="col-2 text-center">会員名</th>
            <th class="col-2 text-center">メールアドレス</th>
            <th class="col-2 text-center">会員ステータス</th>
          </tr>
        </thead>
        <% @members.each do |member| %>
        <tbody>
          <tr>
            <td class="text-center"><%= member.id %></td>
            <td class="text-center">
              <%= link_to member.name, admin_member_path(member.id) %>
            </td>
            <td class="text-center"><%= member.email %></td>
            <td class="text-center">
              <% if member.is_active == true %>
                <span class="text-success font-weight-bold align-middle">有効</span>
              <% else %>
                <span class="text-secondary font-weight-bold align-middle">利用停止</span>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
      <hr>
    </div>

    <div class="pagination justify-content-center mb-3">
      <%= paginate @members %>
    </div>
  </div>
</div>

