<div class="container">
  <div class="row">
    <div class="col-12">
      <%= render "user/shared/error_messages", resource: resource %>
      <h3>Sign up</h3>
        <%= form_with model: @user, url: user_registration_path do |f| %>
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions my-3">
          <%= f.submit "Sign up!", class: "float1" %>
        </div>
      <% end %>

      <div class="mt-2">
        <%= render "user/shared/links" %>
        <%=link_to "Guest sign in (閲覧用)", user_guest_sign_in_path, method: :post %>
      </div>
    </div>
  </div>
</div>