<h2>お問い合わせID: <%= @contact.id %>の詳細ページ</h2>
<div class="container">
  <div class="row mb-5">
    <div class="col-7">
      <table class="mb-5">
        <tr>
          <th class="col-3">会員名:</th>
          <th class="col-5"><%= @contact.name %></th>
        </tr>
        <tr>
          <th class="col-3">メールアドレス:</th>
          <th class="col-5"><%= @contact.email %></th>
        </tr>
        <tr>
          <th class="col-3">
            対応ステータス: 
          </th>
          <th class="col-5">
            <% if @contact.completed == true %>
              <span class="text-success font-weight-bold align-middle">対応中</span>
            <% else %>
              <span class="text-secondary font-weight-bold align-middle">対応済み</span>
            <% end %>
          </th>
        </tr>
        <tr>
          <th class="col-3">
            <%= form_with model: @contact, url: admin_contact_path, method: :patch do |f| %>
              <div class="form-check form-check-inline">
                <%= f.radio_button :completed, true, class: "form-check-input"  %>
                <%= f.label :"対応中", class: "form-check-label mr-3" %>
              </div>
              <div class="form-check form-check-inline">
                <%= f.radio_button :completed, false, class: "form-check-input" %>
                <%= f.label :"対応済み", class: "form-check-label" %>
              </div>
            </th>
            <th class="col-5">
              <%= f.submit "対応ステータスの変更を保存", class: "btn btn-success", remote: true %>
            </th>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>