<table class="table table-borderless", style="color: #675D50;">
  <% users.each do |user| %>
    <tr>
      <td><%= image_tag user.get_profile_image(50,50) %></td>
      <td><%=link_to user.name, user, class: "user_#{user.id}" %></td>
      <td>フォロー: <%=user.followings.count %>人</td>
      <td>フォロワー: <%=user.followers.count %>人</td>
      <td><%= render "user/relationships/btn", user: user, options: { class: "follow-link" } %></td>
    </tr>
  <% end %>
</table>