<% reviews.each_with_index do |review, index| %>
  <table class='my-4 mx-3'>
    <thead>
      <tr>
        <th><i class="fa-solid fa-feather"></i>
          <%= link_to movie_path(movie[index]['id']) do %>
            <%= movie[index]['title'] %>
          <% end %>へのレビュー
        </th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <th>
          <%= link_to movie_review_path(review.movie_id, review.id) do %>
            <%= review.title %>
          <% end %>
        </th>
      </tr>
      <tr>
        <th id="star_<%= review.id %>"></th>
      </tr>
      <script>
        $(document).on('turbolinks:load', function() {
          let elem = document.querySelector('#star_<%= review.id %>');
          if (elem == null) return;
          elem.innerHTML = "";
          let opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            score: "<%= review.star %>",
            readOnly: true,
          };
          raty(elem, opt);
        });
      </script>
      <tr>
        <td>
          <% if review.spoiler == true %>
          <a role="button" data-toggle="collapse" href="#example1" aria-expanded="false" aria-controls="example1">
            <i class="fa-solid fa-triangle-exclamation"></i> ネタバレを表示する
          </a>
          <div class="collapse" id="example1">
            <%= review.comment %>
          </div>
        <% else %>
          <%= review.comment %>
        <% end %>
      </td>
      </tr>
    </tbody>
  </table>
<% end %>