<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h3><i class="fa-solid fa-film"></i> Favorite movies</h3>
      <hr>
      <% @favorites.each_slice(4) do |favorite_group| %>
        <div class="row">
          <% favorite_group.each do |favorite| %>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="card bg-transparent border-0" style="width: 100%;">
                <% movie_data = Movie.fetch_movie_data(favorite.movie_id) %>
                <%= link_to movie_path(favorite.movie_id) do %>
                  <% if movie_data['poster_path'] %>
                    <%= image_tag 'https://image.tmdb.org/t/p/w200' + movie_data['poster_path'], size: "230x300", class: "large shadow float1", style: "max-width: 100%;" %>
                  <% else %>
                    <%= image_tag 'no_image_tate.jpg', size: "230x300", class: "large shadow float1", style: "max-width: 100%;" %>
                  <% end %>
                <% end %>
              </div>
              <div class="card-body">
                <%= movie_data['title'] %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <hr>
    </div>
    
    <p class="pagetop float1">
      <a href="#container">
        <i class="fa-solid fa-angles-up"></i>
      </a>
    </p>

    <div class="text-center my-3">
    <%= paginate @favorites %>
    </div>

    <div class="text-center my-3">
    <%= link_to "戻る", user_path(@user) %>
    </div>
  </div>
</div>