<div class="container">
  <div class="row mb-5">
    <div class="col-5">
      <%= image_tag @user.get_profile_image(200,200) %>
    </div>

    <div class="col-7">
      <table class="mb-5">
        <tr>
          <th class="col-3">name:</th>
          <th class="col-5"><%= @user.name %></th>
        </tr>
        <tr>
          <th class="col-3">introduction:</th>
          <th class="col-5"><%= @user.introduction %></th>
        </tr>
        <tr>
          <th class="col-3">follows:</th>
          <th class="col-3">followers:</th>
        </tr>
      </table>
      <% unless @user.guest_user?%>
        <% if current_user != @user %>
          <td></td>
        <% elsif current_user == @user %>
          <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#movie_reviews" class="nav-link active" data-toggle="tab"><i class="fa-solid fa-comment"></i>Movie reviews</a>
    </li>
    <li class="nav-item">
      <a href="#favorite_movies" class="nav-link" data-toggle="tab"><i class="fa-regular fa-thumbs-up"></i> Favorite movies</a>
    </li>
    <li class="nav-item">
      <a href="#check_movies" class="nav-link" data-toggle="tab"><i class="fa-solid fa-check"></i> Check movies</a>
    </li>
  </ul>
  
  <div class="tab-content mt-3">
    <div id="movie_reviews" class="tab-pane fade show active">
      <%= render 'user/reviews/index', reviews: @reviews, movie: @review_movies %>
    </div>
    <div id="favorite_movies" class="tab-pane fade">
      <p><%= render 'user/favorites/index', favorites: @favorites, movie: @favorite_movies %></p>
    </div>
    <div id="check_movies" class="tab-pane fade">
      <p>セクション3のコンテンツが表示されます。</p>
    </div>
  </div>
  
</div>