<%= form_with model: review, url: (review.persisted? ? movie_review_path(review.movie_id, review.id) : movie_reviews_path), local: true do |f| %>
  <%= f.hidden_field :movie_id, value: @movie['id'] %>

  <div id='stars', class='mb-3'></div>
  
    <script>
      $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#stars');
        if(elem == null) return;
        elem.innerHTML = ""
        let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'review[star]',
          half: true, 
          score: "<%= @rating || 0 %>",
        };
        raty(elem, opt);
      });
  </script>

  <div class='form-group mb-3'>
    <%= f.text_field :title, placeholder: "review title...", class: 'form-control' %>
  </div>
  <div class='form-group mb-3'>
    <%= f.text_area :comment, placeholder: "review...", class: 'form-control' %>
  </div>
  <div class='form-group mb-3'>
    <%= f.radio_button :spoiler, false %>
    <%= f.label :"ネタバレなし" , class: "col-form-label" %>
    <%= f.radio_button :spoiler, true %>
    <%= f.label :"ネタバレあり" , class: "col-form-label" %>
  </div>
  
  <%= f.submit class: 'btn btn-secondary' %>
<% end %>