<% reviews.each do |review| %>
  <div class="col-12 my-2 mx-3">
    <div class="row align-items-start">
      <div>
        <% movie_data = Movie.fetch_movie_data(review.movie_id) %>
        <%= link_to movie_path(review.movie_id) do %>
          <% if movie_data['poster_path'] %>
            <%= image_tag 'https://image.tmdb.org/t/p/w200' + movie_data['poster_path'], size: "50x80", style: "max-width: 100%;" %>
          <% else %>
            <%= image_tag 'no_image_tate.jpg', size: '50x80', style: "max-width: 100%;" %>
          <% end %>
        <% end %>
      </div>

      <div class="col-10 mb-3">
        <b>映画：<%= link_to movie_data['title'], movie_path(review.movie_id) %>へのレビュー</b><br>
        <b><%= link_to review.title, movie_review_path(review.movie_id, review.id) %></b>
        <div class="my-2">
          <span id='eval_star_<%= review.id %>'></span>
          <span class="eval_star"><%= review.star %>/5点</span>
          <script>
            $(document).on('turbolinks:load', function() {
              let elem = document.querySelector('#eval_star_<%= review.id %>');
              if (elem == null || elem.classList.contains('raty-initialized')) return;
              let opt = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: "<%= review.star %>",
                half: true,
                readOnly: true,
              };
              raty(elem, opt);
              elem.classList.add('raty-initialized');
            });
          </script>
        </div>

        <% if review.spoiler == true %>
          <a role="button" data-toggle="collapse" href="#example_<%= review.id %>" aria-expanded="false" aria-controls="example_<%= review.id %>">
            <i class="fa-solid fa-triangle-exclamation"></i> ネタバレを表示する
          </a>
          <div class="collapse" id="example_<%= review.id %>">
            <%= review.comment %>
            <% if review.tag.present? %>
              <p class="mt-3 mr-5"><%= link_to review.tag, tags_path(tag: review.tag), class: "tag" %></p>
            <% end %>
          </div>
        <% else %>
          <%= review.comment %>
          <% if review.tag.present? %>
            <p class="mt-3 mr-5"><%= link_to review.tag, tags_path(tag: review.tag), class: "tag" %></p>
          <% end %>
        <% end %>
        <p class="mt-2"><%= review.created_at.strftime('%Y/%m/%d') %>
        <span>|</span>
        コメント数：<%= review.comments.count %></p>
      </div>
    </div>
  </div>
<% end %>

<div class="pagination justify-content-center mb-3">
  <%= paginate reviews %>
</div>
