<div class='container'>
  <div class='row'>
    <div class='col-6'>
      <%= render 'user/movies/show', movie: @movie, average_score: @average_score, movie_genre_names: @movie_genre_names %>
    </div>
    
    <div class='col-6'>
      <table>
        <thead>
          <th><%= @review.title %></th>
        </thead>
    
        <tbody>
          <tr>
            <th id="star_<%= @review.id %>"></th>
          </tr>
          <script>
            $(document).on('turbolinks:load', function() {
              let elem = document.querySelector('#star_<%= @review.id %>');
              if (elem == null) return;
              elem.innerHTML = "";
              let opt = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: "<%= @review.star %>",
                readOnly: true,
              };
              raty(elem, opt);
            });
          </script>
          <tr>
            <td>
              <% if @review.spoiler == true %>
                <a role="button" data-toggle="collapse" href="#example1" aria-expanded="false" aria-controls="example1">
                  <i class="fa-solid fa-triangle-exclamation"></i> ネタバレを表示する
                </a>
                <div class="collapse" id="example1">
                  <div>
                    <%= @review.comment %>
                  </div>
                  <% if @review.tag.present? %>
                    <div class="badge bg-secondary text-light text-wrap" style="width: 6rem;">
                      <%= @review.tag %>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <div>
                  <%= @review.comment %>
                </div>
                <% if @review.tag.present? %>
                  <div class="badge bg-secondary text-light text-wrap" style="width: 6rem;">
                    <%= @review.tag %>
                  </div>
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td id="comment_counter">
             <%= render "user/comments/counter", review: @review %>
           </td>
          </tr>
          <tr>
            <% if @review.user == current_user %>
              <td><%= link_to 'Edit', edit_movie_review_path(@review.movie_id, @review.id), class:"btn btn-secondary" %></td>
              <td><%= link_to 'Destroy', @reviews, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
            <% end %>
          </tr>
        </tbody>
      </table>

      <div id="comment_index">
        <%= render "user/comments/index", review: @review, comment: @comment %><br>
      </div>
      <%= render "user/comments/form", review: @review, comment: @comment %>
    </div>
  </div>
</div>