<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">

      <div class="card bg-transparent border-0" style="width: 100%;">
        <%= link_to movie_path(movie['id']) do %>
          <% if movie['poster_path'] %>
            <%= image_tag 'https://image.tmdb.org/t/p/w200' + movie['poster_path'], size: "230x300", class: "large shadow float1", style: "max-width: 100%;" %>
          <% else %>
            <%= image_tag 'no_image_tate.jpg', size: "230x300", class: "large shadow float1", style: "max-width: 100%;" %>
          <% end %>
        <% end %>
      </div>

      <div class="card-body">
        <% if controller_name == 'movies' %>
          <div class="d-flex flex-row mb-1">
            <% if movie['favorited'] %>
              <div class="square-button mr-2">
                <i class="fa-solid fa-heart"></i>
              </div>
            <% else %>
              <div class="square-button2 mr-2">
                <i class="fa-solid fa-heart"></i>
              </div>
            <% end %>

            <% if movie['reviewed'] %>
              <div class="square-button">
                <i class="fa-solid fa-feather"></i>
              </div>
            <% else %>
              <div class="square-button2">
                <i class="fa-solid fa-feather"></i>
              </div>
            <% end %>
          </div>

          <div class="average_stars" data-score="<%= movie['average_score'] || 0 %>"></div>
          <div class="average_star"><%= movie['average_score'] || 0 %>/5点</div>
          <script>
            $(document).on('turbolinks:load', function() {
              let elements = document.querySelectorAll('.average_stars');
              elements.forEach(function(element) {
                let score = element.dataset.score;
                if(element == null) return;
                element.innerHTML = "";
                let opt = {
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  scoreName: 'review[star]',
                  half: true,
                  readOnly: true,
                  score: score || 0,
                };
                raty(element, opt);
              });
            });
          </script>
        <% else %>
        <% end %>
      </div>

    </div>
  <% end %>
</div>
