<div class="my-3">
  <%= link_to '新着順', movie_path(latest: "true") %>
  <span>|</span>
  <%= link_to '評価の高い順', movie_path(star_count: "true") %>
</div>

<% reviews.each do |review| %>
  <div class='d-flex flex-row mb-5'>
    <div class='mr-2'>
      <%= link_to user_path(review.user.id) do %>
        <%=image_tag review.user.get_profile_image(50,50) %></br>
        <%= review.user.name %>
      <% end %>
    </div>
    <div>
      <%= link_to movie_review_path(review.movie_id, review.id) do %>
        <%= review.title %>
      <% end %>
      <div id='eval_star_<%= review.id %>'></div>
      <div class="eval_star"><%= review.star %>/5点</div>
      <script>
        $(document).on('turbolinks:load', function() {
          let elem = document.querySelector('#eval_star_<%= review.id %>');
          if (elem == null || elem.classList.contains('raty-initialized')) return;
          let opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            score: "<%= review.star %>",
            half: true,
            readOnly: true,
          };
          raty(elem, opt);
          elem.classList.add('raty-initialized');
        });
      </script>
      <div style="max-width: 400px;">
      <% if review.spoiler == true %>
        <a role="button" data-toggle="collapse" href="#example1" aria-expanded="false" aria-controls="example1">
          <i class="fa-solid fa-triangle-exclamation"></i> ネタバレを表示する
        </a>
        <div class="collapse" id="example1">
          <div>
            <%= review.comment %>
          </div>
          <% if review.tag1.present? %>
            <div class="badge bg-secondary text-light text-wrap" style="width: 6rem;">
              <%= review.tag1 %>
            </div>
          <% end %>
          <% if review.tag2.present? %>
            <div class="badge bg-secondary text-light text-wrap" style="width: 6rem;">
              <%= review.tag2 %>
            </div>
          <% end %>
          <% if review.tag3.present? %>
            <div class="badge bg-secondary text-light text-wrap" style="width: 6rem;">
              <%= review.tag3 %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div>
          <%= review.comment %>
        </div>
        <% if review.tag1.present? %>
          <div class="badge bg-secondary text-light text-wrap" style="width: 6rem;">
            <%= review.tag1 %>
          </div>
        <% end %>
        <% if review.tag2.present? %>
          <div class="badge bg-secondary text-light text-wrap" style="width: 6rem;">
            <%= review.tag2 %>
          </div>
        <% end %>
        <% if review.tag3.present? %>
          <div class="badge bg-secondary text-light text-wrap" style="width: 6rem;">
            <%= review.tag3 %>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
<% end %>