<table class='table'>
  <tr>
    <% if movie['poster_path'] %>
      <td>
        <%= image_tag 'https://image.tmdb.org/t/p/w200' + movie['poster_path'], size: '200x300', style: "max-width: 100%;" %>
      </td>
    <% else %>
      <td>
        <%= image_tag 'no_image_tate.jpg', size: '200x300', style: "max-width: 100%;" %>
      </td>
    <% end %>
    <th style="text-align: left;">
      <%= movie['title'] %>
      <br>
      公開日:
      <br>
      <%= Date.parse(@movie['release_date']).strftime("%Y/%m/%d") %>上映
      <br>
      平均評価:
      <br>
      <div id="average_stars"></div>
      <div class="average_star"><%= @average_score %>/5点</div>
      <script>
        $(document).on('turbolinks:load', function() {
          let elem = document.querySelector('#average_stars');
          if(elem == null) return;
          elem.innerHTML = "";
          let opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'review[star]',
            half: true, 
            readOnly: true,
            score: "<%= average_score || 0 %>",
          };
          raty(elem, opt);
        });
      </script>
    </th>
  </tr>
  <tr>
    <td colspan="2">
      ジャンル:
      <br>
      <%= movie_genre_names %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%= movie['overview'] %>
    </td>
  </tr>
</table>