<table class='table' style="max-width: 400px; color: #675D50;">
  <tr>
    <td colspan="2">
      <h4><b><%= movie['title'] %></b></h4>
      <p>(<%= Date.parse(@movie['release_date']).strftime("%Y") %>)</p>
    </td>
  </tr>

  <tr>
    <td style="width: 200px;">
      <% if movie['poster_path'] %>
        <%= image_tag 'https://image.tmdb.org/t/p/w200' + movie['poster_path'], size: '200x250', class: "large shadow", style: "max-width: 100%;" %>
      <% else %>
        <div class="Regular shadow">
          <%= image_tag 'no_image_tate.jpg', size: '200x250',class: "large shadow", style: "max-width: 100%;" %>
        </div>
      <% end %>
    </td>
    <td style="text-align: left; vertical-align: top;">
      <p><b>公開日:</b></p>
      <p><%= Date.parse(@movie['release_date']).strftime("%Y/%m/%d") %></p>
      <p><b>平均評価:</b></p>
      <div id="average_stars"></div>
      <div class="average_star"><%= @average_score %>/5点</div>
      <script>
        $(document).on('turbolinks:load', function() {
          let elem = document.querySelector('#average_stars');
          if(elem == null) return;
          elem.innerHTML = "";
          let opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'review[star]',
            half: true, 
            readOnly: true,
            score: "<%= average_score || 0 %>",
          };
          raty(elem, opt);
        });
      </script>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <p><b>ジャンル:</b></p>
      <p><%= movie_genre_names %></p>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <p><%= movie['overview'] %></p>
    </td>
  </tr>
</table>
