<div class="loading">
  <%= image_tag 'logo.png', class: "loading__logo" %>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="mb-2">
        <i class="fa-solid fa-magnifying-glass"></i>　映画タイトルで検索する
      </div>
      <div class="mb-3">
        <%= form_with url: movies_path, method: :get, local: :true do |f| %>
          <%= f.text_field :looking_for, placeholder: '映画タイトルを入力', size: 30 %>
          <%= f.submit 'search' %>
        <% end %>
      </div>
      <div class="mb-2">
        <i class="fa-solid fa-tag"></i>　レビュータグで検索する
      </div>
      <div class="mb-3">
        <% @tags.each do |tag| %>
          <%= link_to tag, tags_path(tag: tag), class: "float1 mr-3 mb-2" %>
        <% end %>
      </div>
      <div>
        <%= render 'index', moviews: @moviews %>
      </div>
      <div class="text-center">
        <%= paginate @movies %>
      </div>
    </div>
  </div>
</div>
