<div class="large shadow", style="background-color: #b4ada9;">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <% if admin_signed_in? %>
        <a class="navbar-brand p-3 underline-hover" style="color: #fff">
          <i class="fa-solid fa-clapperboard"></i> <b>Kinema Cafe.</b>
        </a>
      <% else %>
        <a class="navbar-brand p-3 underline-hover" style="color: #fff" href="/">
          <i class="fa-solid fa-clapperboard"></i> <b>Kinema Cafe.</b>
        </a>
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link float1 mr-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Home", user_path(current_user.id), class: "nav-link float1 mr-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Movies", movies_path, class: "nav-link float1 mr-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Users", users_path, class: "nav-link float1 mr-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link float1 mr-2" %>
          </li>
        <% elsif admin_signed_in? %>
          <li class="nav-item">
            <%= link_to "会員一覧", admin_root_path, class: "nav-link float1 mr-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "投稿一覧", admin_reviews_path, class: "nav-link float1 mr-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_admin_session_path,  method: :delete, class: "nav-link float1 mr-2" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link float1 mr-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link float1 mr-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class: "nav-link float1 mr-2" %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>